/* -- mymoggy styles */

body{
	font-family: “Helvetica Neue”, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#454545;
}
header{
	
}
nav{
	
}
nav{
	color:#7ca6bf;
	margin:11px 0 0;
	font-size: 14pt;
}
nav ul{
	margin:0;
	padding:0;
}
nav li{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}
nav li a {
	text-decoration: none;
	color:#7ca6bf;
}
nav li a:hover {
	border-bottom: solid 1px #dfdc2a;
}
nav li a.active {
	color:#525252;
}
.wrapper{
	width:980px;
	margin: 0 auto;
}
.primary{
	float:left;
	width:215px;
}
.secondary{
	float:left;
	width:685px;
}
section{
	
}
footer{
	
}

/* Dashboard cat blocks */
.dashCat {
	width : 685px;
/*	background-color: #ccbbaa;*/
	float: left;
	margin-bottom: 10px;
	border-bottom: solid 1px #dedede;
}
.dashCat a {
	float: right;
}
.dashCat ul {
	margin:0;
	padding:0;
	height:25px;
}
.dashCat li {
	list-style-type: none;
	display: inline;
	padding-left: 10px;
	float:left;
}
.dashCat li a {
	text-decoration:none;
	float: right;
}

.dashCatName {
	width:300px;
	float:left;
	font-size: 24px;
	height: 35px;
}
.dashCatFunctions {
	float:right;
	width:280px;
	padding-top:3px;
}
.dashCatFunctions ul {
	float: right;
}
.dashCatContent {
	clear:both;
}
.dashCatPhotos {
	float: left;
	padding-bottom:15px;
}
.dashCatPhotos li {
	width:64px;
	height:64px;
	border: 3px solid blue;
	margin-right:10px;
	padding-left:0;
	margin-left:0;
}

.icoProfile, .icoEdit, .icoRemove{
	padding-left:28px;
	height:32px;
}
.icoProfile {
	background: url(/img/view.png) no-repeat 0px -2px;
}
.icoEdit{
	background: url(/img/edit.png) no-repeat 0px -2px;
}
.icoRemove{
	background: url(../img/remove.png) no-repeat 0px -2px;
}



#flash_notice, #flash_error {
    padding: 5px 8px;
    margin: 10px 0;
}

#flash_notice {
    background-color: #CFC;
    border: solid 1px #6C6;
}

#flash_error {
    background-color: #FCC;
    border: solid 1px #C66;
}

